<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>American Time Usage</title>

    <!-- Load Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700' rel='stylesheet'
          type='text/css'>

    <!-- CSS libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <!-- Custom CSS code -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!--Intro Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 60vh">
                <div class="align-self-center">
                    <h1 id="title">American Time Usage</h1>
                    <h2>in the Era of the COVID-19 Pandemic</h2>
                    <img src="images/people.png" alt="people" height="100">
                    <img src="images/Clock1.gif" alt="clock" width="200" height="200">
                    <img src="images/people2.png" alt="more people" height="90">
                </div>
            </div>

            <!-- spacer -->
            <div class="row justify-content-center" style="height: 3vh"></div>

            <div class="row justify-content-center" style="height: 30vh; margin: auto; width: 80%">
                <h6>
                    The pandemic radically affected millions of American's day-to-day lives. Jobs were
                    lost, schools were closed, and travel was limited. We want to understand the magnitude
                    of this disruption through analyzing the ways people spent their time differently during 2020.
                </h6>
                <h6>
                    Each year, the Bureau of Labor Statistics surveys roughly ten thousand households for the
                    <b>American Time Usage Survey</b>, a project which tracks how Americans spend their time.
                    This data helps track <i>how our society chooses to use our collective time</i> — on work, on leisure,
                    on care, on volunteering. This also reveals how we prioritize or change certain behaviors during
                    different time periods, like during a pandemic.
                </h6>
            </div>

        </div>
    </div>
</div>

<!--First Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 10vh; margin: auto; width: 80%" id="headingTimeSource">
                <div class="align-self-center">
                    <h1><b>Work</b> is still the largest time source for people in 2020</h1>
                </div>
            </div>

            <div class="row justify-content-center" style="height: 80vh">
                <div class="align-self-center" id="bubble-chart" style="width: 90%; height: 90%"></div>
            </div>

            <div class="row justify-content-center" style="height: 5vh">
                <div class="align-self-center" style="height: 100%; width: 100%"></div>
            </div>
        </div>
    </div>
</div>

<!--1.5 Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 25vh">
                <div class="align-self-center">
                    <h1>How has time spent doing different activities <i>changed</i> from 2019 to 2020?</h1>
                </div>
            </div>

            <!-- graph -->
            <div class="row justify-content-center" style="height: 75vh">

                <div class="col-md-3">
                    <label for="ranking-type">Category:</label>
                    <select class="form-control" id="ranking-type" onchange="selectChanged()">
                        <option value="change">Percent Change</option>
                        <option value="minChange">Absolute Change in Minutes</option>
                        <option value="avgTime19">2019 Average Time by Activity Time</option>
                        <option value="avgTime20">2020 Average Time by Activity</option>
                    </select>
                </div>

                <div class="align-self-center" id="change-bar-chart" style="height: 100%; width: 100%"></div>

            </div>

            <div class="row justify-content-center" style="height: 5vh">
                <div class="align-self-center" style="height: 100%; width: 100%"></div>
            </div>
        </div>
    </div>
</div>

<!--Fifth Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Time Usage Over the Last Two Decades</h1>
                </div>
            </div>

            <!-- graph -->
            <div class="row justify-content-center" style="height: 65vh">
                <div class="align-self-center" id="stacked-area-chart" style="height: 95%; width: 100%"></div>
            </div>

            <div class="row justify-content-center" style="height: 17vh; margin: auto; width: 80%">
                <h6>Consistently throughout the last two decades, the largest proportions of time
                    are spent on work, education, and sleep. The overall breakdown of average time per activity
                    is surprisingly steady.</h6>
                <h6>Occasionally, there are bumps in how much
                    time certain activities get, like a bump around 2014 in <i>"government + civic activities"</i>
                    (which might be from voting in the midterm elections that year).</h6>
            </div>
        </div>
    </div>
</div>

<!--Second Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Job Losses</h1>
                </div>
            </div>

            <div class="row justify-content-center" style="height: 75vh">
                <div class="align-self-center"style="width: 100%"></div>
                <div class="box">
                    <div class="one">
                        How many people in the US lost their jobs at the height of the pandemic? <br><br>
                        <input type="text" id="GuessJobsLost" name="GuessJobsLost" placeholder="Type Your Guess Here"><br><br>
                        <button>Submit</button>
                    </div>
                    <div class="two">
                        <img src="./images/ImagePlaceholder.png" alt="Image Placeholder">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Third Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Unemployment Rate</h1>
                    <h2>Highest in Black and Brown Communities</h2>
                </div>
            </div>
            <div class="row justify-content-center" style="height: 75vh">
                <div class="align-self-center"style="width: 100%">
                    <div class="box">
                        <div class="two-thirds">
                            <div id="chart-area-disparities"></div>
                        </div>
                        <div class="one-third">
                            What is the average US unemployment rate over this period of time? <br><br>
                            <input type="text" id="GuessUSAvg" name="GuessUSAvg" placeholder="Type Your Guess Here"><br><br>
                            <button>Submit</button>
<!--                            On submit, dynamically draw a red line on the chart to the left to see how all of US compares to these racial breakdowns. Answer should pop up on the right-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Fourth Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Average Hours Worked per Week by Income</h1>
                </div>
            </div>
            <div class="row justify-content-center" style="height: 60vh">
                <div class="align-self-center" id="avg-hours-worked" style="height: 100%; width: 100%"></div>
            </div>

            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center" style="height: 100%; width: 80%">
                    Each colored line represents a different year.
                    The relationship between income and hours worked is pretty flat — with actually the highest and lowest income earners working the most hours.
                    As can be seen by the visualization above, the average number of hours worked are quite
                    consistent over the last two decades, including during the 2020 pandemic period.
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sixth Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <form class="form-inLine">
                        <div class=""form-check form-check-inline>
                            <label for="chart-option">
                                <h1>Top 5 Time Uses by</h1>
                                <select class="form-control" id="chart-option" onchange="updateCategory()">
                                    <option value="SEX" selected>Sex</option>
                                    <option value="RACE">Race</option>
                                </select>
                            </label>

                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center" style="height: 75vh">
                <div class="align-self-center" id="top-five-male" style="width: 50%; height: 50%"></div>
                <div class="align-self-center" id="top-five-female" style="width: 50%; height: 50%"></div>
                <div class="align-self-center" id="top-five-white" style="width: 50%; height: 25%"></div>
                <div class="align-self-center" id="top-five-black" style="width: 50%; height: 25%"></div>
                <div class="align-self-center" id="top-five-native" style="width: 50%; height: 25%"></div>
                <div class="align-self-center" id="top-five-asian" style="width: 50%; height: 25%"></div>
                <div class="align-self-center" id="top-five-mixed" style="width: 50%; height: 25%"></div>
            </div>
        </div>
    </div>
</div>

<!--Seventh Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <div class="row justify-content-center" style="height: 90vh">
                <div class="align-self-center"style="height: 100%; width: 100%">
                    <div class="box">
                        <div class="one">
                            <h1>Time Spent Alone</h1>
                            <br>
                            Insert Visualization Here
                        </div>
                        <div class="two">
                            <h1>Time Spent in Sports and Leisure</h1>
                            <br>
                            Insert Visualization Here
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Eighth Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Average Day for Americans in 2020</h1>
                </div>
            </div>

            <div class="row justify-content-center" style="height: 75vh">
                <div class="align-self-center"style="width: 100%">
                    <div class="box">
                        <div class="two-thirds">
                            Insert Visualization Here
                        </div>
                        <div class="one-third">
                            Insert Visualization Here
                            Time Usage Overall (area chart)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ninth Page-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-2"
             style="margin-top: 5vh; border: thin solid grey; border-radius: 5px; background: rgba(221,221,221,0.45)">

            <!-- header -->
            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center">
                    <h1>Conclusions</h1>
                </div>
            </div>

            <div class="row justify-content-center" style="height: 60vh">
                <div class="align-self-center"style="height: 100%; width: 100%"></div>
            </div>

            <div class="row justify-content-center" style="height: 15vh">
                <div class="align-self-center" style="height: 100%; width: 100%"></div>
            </div>
        </div>
    </div>
</div>

<!-- Load JS libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
<!-- d3 -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Load data, create visualizations -->
<script src="js/main.js"></script>
<script src="js/racial-disparities.js"></script>
<script src="js/stackedAreaChart.js"></script>
<script src="js/BubbleChart.js"></script>
<script src="js/avgHoursWorked.js"></script>
<script src="js/pieChart.js"></script>
<script src="js/changeBar.js"></script>

</body>
</html>
